@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    display: block;
    background-image: url("../images/wallpaper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background: rgb(134, 126, 126, 0.8);
    display: grid;
    margin: 0px 300px 0px 300px;
    padding-bottom: 0%;
    border-radius: 15px;
    position: sticky;

}

.sticky {
    position: fixed;
    top: 8;
    width: 54.1%;
}



ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin-bottom: -4%;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: inline-block;

}

li a {
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 15px;
    transition: .4s;
    font-size: 1.2em;
    padding: 1em;
    font-family: 'Montserrat';
}

ul li a:hover {
    background-color: cadetblue;
}


.dropdown .dropbtn {
    font-size: 1.2em; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    border-radius: 15px;
    transition: .4s;
    background-color: inherit;
    font-family: 'Montserrat'; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: cadetblue;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(134, 126, 126, 0.8);
    min-width: 136px;
    transition: .2s;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color:#fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: cadetblue;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.container {
    
    grid-template-rows: auto 200px;
    border: 2px #fff;
    margin: 100px 350px auto;
}


.container p {
    background-color: rgb(134, 126, 126, 0.8);
    width: auto;
    padding: 1em;
    border-radius: 15px;
    grid-row-start: 1;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Montserrat';
    color: aliceblue;
}


.container ul {
    background-color: rgb(134, 126, 126, 0.8);
    width: auto;
    padding: 1em;
    border-radius: 15px;
    grid-row-start: 1;
    text-align: left;
    font-size: 1.1em;
    font-family: 'Montserrat';
    color: aliceblue;
}

.container h1 {
    text-align: center;
    font-size: 3em;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.container h2 {
    text-align: center;
    font-size: 2em;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.container h3 {
    font-family: "Montserrat";
    font-size: 1.5em;
    text-align: center;
}

.container h4 {
    background: rgb(134, 126, 126, 0.8);
    font-family: "Montserrat";
    color: aliceblue;
    outline: black;
    border-radius: 15px;
    padding: 1em;
}

img {
    display: block;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#cebaby {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
    height: 80%;
    border: 3px solid #fff;
}

#vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 3px solid #fff;
}